<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <body>
            <h1>Home Page!</h1>
            <p>Hello!</p>
            <p>{{content}}</p>
            <p>{{r}}</p>
            {% for i in range(0, 10) %}
                {% if i % 2 == 1 %}
                    <p>{{i}}</p>
                {% endif %}
                <p>Hello</p>
            {% endfor %}
            {% for x in clist %}
                <p>{{x}}</p>
            {% endfor %}
        </body>
    </head>
</html>